/target
**/*.rs.bk
*.lock
*.rmeta
*.rlib
.auctex-auto/*
.ccls-cache/*
.ccls-cache
.projectile
*_scrot.png
TODO.pdf
TODO.tex
stats/*
ex*
liblisp/*
vgcores/*
vgcore.*
perf.data*
perf.hist*
massif.out.*
