/target
examples/*/target
/proc-macros/target
/logs/
**/*.rs.bk
*.rmeta
*.rlib
stats/*
liblisp/*
vgcores/*
vgcore.*
perf.data*
perf.hist*
massif.out.*
asm/*
cachegrind.out*
/flamegraph.svg
heaptrack.*
/result
