/target
examples/*/target
/proc-macros/target
/logs/
**/*.rs.bk
*.lock
*.rmeta
*.rlib
.auctex-auto/*
.ccls-cache/*
.ccls-cache
.projectile
*_scrot.png
TODO.pdf
TODO.tex
stats/*
liblisp/*
vgcores/*
vgcore.*
perf.data*
perf.hist*
massif.out.*
TODO.org
asm/*
.dir-locals.el
js/node_modules
js/dist
js/bin
package-lock.json
cachegrind.out*
/flamegraph.svg
